.square {
    border: 1px solid #999;
    float: left;
    height: 30px;
    width: 30px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
}

.black {
    background-color: black !important;
}

.white {
    background-color: white !important;
}

.reset-line-height {
    line-height: 0;
}

.full-width {
    width: 95%;
}