.square {
    float: left;
    padding: 0;
    margin-bottom: -1px;
}

.black {
    background-color: black !important;
    /* border: 0.1px ridge black; */
}

.white {
    background-color: white !important;
    /* border: 0.1px ridge #c9c6c67d; */
}

.reset-line-height {
    line-height: 0;
    margin-bottom: -1px;
}